body{
    background: #F8F8F8;
}
select {
    outline: none;

}
.clearfix:before,.clearfix:after{

    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
input {
    outline: none;

}

form{
    width: 100%;

    clear:both;
    padding:30px 0 50px;
}
.form-group {
    background: #fff;
    width:100%;
    overflow: hidden;
    /*float: left;*/
    /*height: 50px;*/
    /*padding: 0 0 0 70px;*/
    margin-bottom: 0;
    position: relative;
    padding: 0 15px 10px;

}
@media (max-width: 1199px){
    .form-group{
        width: 100%;
        margin-bottom: 0;
    }
}
form .form-group .label-control {
    float: left;
}
form .form-group .label-control em{
    color:#f00;
}
form .form-group .label-control label {
    display: inline-block;
    font-size: 14px;
    color: #333;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 0;
}
@media (max-width: 375px) {
    form .form-group .label-control label {
        font-size: 14px;
    }
}
form .form-group .formbox {
    float: left;
    width: 64%;
    line-height: 30px;
}
form .form-group .formbox .radio-inline, form .form-group .formbox .checkbox-inline {
    position: relative;
    display: inline-block;
    padding-right: 15px;
    /*vertical-align: middle;*/
    font-weight: normal;
    cursor: pointer;
    line-height: 30px;
    float: left;
}
form .form-group .formbox .radio-inline, form .form-group .formbox .checkbox-inline, form .form-group .formbox select {
    font-size: 14px;
}
form .form-group .formbox .radiocheck {
    float: left;
}
form .form-group .formbox .radiocheck .s-check {
    padding: 0 15px 10px;
}
form .form-group .formbox .radiocheck .s-check .radio-inline, form .form-group .formbox .radiocheck .s-check .checkbox-inline {
    line-height: 0;
    float: left;
}
form .form-group .label-control {
    width: 20%;
    text-align: right;
    height: 30px;
    line-height: 30px;
}


form .form-group .formbox select {
    background: #fff;
    width: 100%;
    padding: 0 5px;
    font-size: 14px;
    height: 30px;
    border:1px solid #999;
}
form .form-group .formbox input {
    border: 1px solid #999;
    outline: none;
    padding: 0 5px;
    font-size: 14px;
    height: 30px;

}
.normal-text{
    border: 1px solid #999;
    padding: 0 5px;
    font-size: 12px;
    height: 30px;
}
form .form-group input[type=checkbox], input[type=radio]{
    margin:0 0 0 -15px;
}
@media (max-width: 1199px){
    form .form-group .label-control {
        width: 26%;

    }
}
@media (max-width: 375px) {
    form .form-group .formbox {
        width: 62%;
    }
    form .form-group .formbox select, form .form-group .formbox input {
        font-size: 14px;
    }
}
form .formbox.input-text input, form .select-control select {
    width: 100%;
}
form .form-group.has-error .formbox input,form .form-group.has-error .formbox select,form .form-group.has-error .formbox textarea {
    border: 1px solid #f00;
}

form .has-error .help-block, form .has-error .label-control {
    color: #f00;
}
form .help-block {
    float: right;
    text-align: right;
    display: block;
    color: #f00;
    font-size: 12px;
    margin-left: 8px;
    margin-top:0px;
    margin-bottom: 0;
}
form .form-group .radio-box label input{
    position: absolute;
    left: -9999em;
}
form .form-group .radio-box label span{
    background: url(../images/dx.png) center no-repeat;
}
form .form-group .radio-box label input:checked+span{
    /*border-color:#0096d7;*/
    background: url(../images/dx1.png) center no-repeat;
}
form .form-group .radio-box label input+span{
    display: inline-block;
    content: "\e66b";
    font-family: "iconfont";
    font-size: 16px;
    width: 16px;
    height: 16px;
    /*border-radius: 50%;*/
    vertical-align: middle;
    margin: 0;
    padding: 0;
    margin-right:5px;
}
form .form-group .radio-box label input+span i {
    display: block;
    width: 8px;
    height: 8px;
    margin: 2px;
    background-color: #666;

    /*-webkit-border-radius: 50%;
    border-radius: 50%;*/

    -webkit-transform: scale(0);
    transform: scale(0);

}

form .form-group .radio-box label input:checked+span i {
    background-color: #0096d7;
    -webkit-transform: scale(1);
    transform: scale(1);
}


form .form-group .check-box label input{
    position: absolute;
    left: -9999em;
}
form .form-group .check-box label span{
    background: url(../images/fx.png) center no-repeat;
}
form .form-group .check-box label input:checked+span{
    /*border-color:#0096d7;*/
    background: url(../images/fx1.png) center no-repeat;
}
form .form-group .check-box label input:checked+span{
    border-color:#0096d7;
}
form .form-group .check-box label input+span{
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #666;
    /*  -webkit-border-radius: 4px;
      border-radius: 4px;*/
    vertical-align: middle;
    margin: 0;
    padding: 0;
    margin-right:5px;
}

form .form-group .check-box label input:checked+span i {

    -webkit-transform: scale(1);
    transform: scale(1);
}

/* form .form-group .check-box label input:checked+span i:before {
   font-family: "iconfont";
   font-size: 16px; 
  content: "\e77b";
  before:"before";
  
  color: #0096d7;
  font-weight: bold;
  position: absolute;
  top:-10px;
  left: -6px;
} */

form .form-group .check-box label input+span i {
    display: block;
    width: 8px;
    height: 8px;
    margin: 2px;
    position: relative;
    background-color: #666;
    /* -webkit-border-radius: 4px;
     border-radius: 4px;*/
    -webkit-transform: scale(0);
    transform: scale(0);
}
form .form-group .check-box label input+span i:before{
    font-family: "iconfont";
    font-size: 16px;
    content: "\e77b";
    before: "\e77b";
    color:#666;
    before:"before";

}

.submit{
    height: 30px;
    line-height: 30px;
    margin:10px auto 30px;
    text-align: center;

}
.submit input[type=button], .submit input[type=submit], .submit button[type=submit]{
    display: inline-block;
    width: 90px;
    outline: none;
    background: #3879D9;
    color: #fff;
    -webkit-appearance: none;
    appearance: none;
    border: none;
}

/*.help-block {
  display: block;
  color: #f00;
  float: right;
  font-size: 12px;
  line-height: 1rem;
}*/

/*# sourceMappingURL=commonform.css.map */
/*资料上传*/
.message-upload{background:#fff;overflow:hidden;margin-bottom:10px;}
.message-upload h2{height:30px;line-height:30px;font-size:16px;color:#333;font-weight:normal;padding-left:15px;}
.upload-box{overflow:hidden; padding-bottom: 20px;}
.upload-box .preview-box {
    width: 39%;
    margin: 5%;
    height: 120px;
    position: relative;
    border: 1px solid #ccc;
    line-height: 120px;
    text-align: center;
    font-size: 14px;
    color: #414141;
    display: inline-block;
}


form .form-group .upload-box div .ipp{position:absolute;width:100%;height:100%;left:0;top:0;opacity:0;cursor:pointer;}
.preview-box .img-group{position: absolute;top:120px;right:0;height:20px;line-height: 20px;}
.preview{position: absolute;left:0;top:0;width:100%;height:100%;font-size: 14px;}
.preview .imghead{width:100%;height:100%;border:0;vertical-align: top;}
/*资料上传*/
.view h2{
    font-size: 22px;
}
.footer{
    margin:0 auto;
    text-align:center;
    font-size: 12px;
    color:#777;
}
.footer i{
    color:#555;
}
.footer p{
    height: 20px;
    line-height: 20px;
    margin:8px;
}
.footer .foot-copyright {
    background: #2c2f34;
    border-top: 1px solid #1f2227;
}
.report{
    margin-left:1.27%;
}
.detail_show{
    margin:0 auto;
    margin-top:1.41%;
    width:100%;
    border:none;
    padding:0;
    overflow:hidden;
}
.detail_w{
    border:none;
    padding:0 13.73% 1.97% 10.14%;
}
.detail_tab{
    width:100%;
}
.datail_export{
    padding:5px 2.41%;
}
.print{
    font-size:14px;
    font-weight: normal;
    background:#0bbf74;
    color:#fff;
    padding:5px 2.41%;
}

.rightbox .query .form-validate .selectone{
    width: 100%;
}
.rightbox .query .form-validate .selectone .help-block{
    width:69px;
    float: left;
    text-align: right;
}
.rightbox .query .form-validate .selecttwo{
    width: 47%;
    float: left;
    height: 50px;
}
.rightbox .query .form-validate .selecttwo .label-control{
    width: 36%;
}
.rightbox .query .form-validate .selecttwo .help-block{
    float: right;
    text-align:left;

    margin-left: 2px;
    margin-top: 0;

}
.rightbox .query .form-validate .selectthree{
    width: 33.3%;
    float: left;
    height: 50px;
}
.rightbox .query .form-validate .selectthree .help-block{
    float: right;
    text-align: right;

}
.rightbox .query .form-validate .selectthree .label-control{
    width: 40%;
}
.rightbox .query .form-validate .selectthree .formbox{
    width: 60%;
}
@media (max-width: 1199px){
    .rightbox .query .form-validate .selectthree .label-control{
        width: 50%;
    }
    .rightbox .query .form-validate .selectthree .formbox{
        width: 50%;
    }
}
.message-h2{
    font-size: 18px;
    padding-left:40px;
}
#s-form-a .table{
    width: 85%;
    margin-left: 7%;
    margin-top:20px;
}
form .form-group .formbox.file-text{
    width: 100%;
    text-align: center;
    float: none;
}
.uploadmessage .form-group{
    float: left;
    width: 50%;
}
.button-wrap{
    height: 30px;
    line-height: 30px;
    margin: 20px 0 0 280px

}
.button-wrap div{
    text-align:center;
    margin:0 60px 0 60px;
    display: inline-block;
    width: 90px;
    outline: none;
    background: #3879D9;
    color: #fff;
    -webkit-appearance: none;
    appearance: none;
    border: none;
}
.rightbox .query #surrenderContentEntry #goBackBtn,.rightbox .query #surrenderContentEntry #submitBtn{
    display: none;
}

.submit input[type=submit]{
    display: inline-block;
    width: 90px;
    outline: none;
    background: #3879D9;
    color: #fff;
    -webkit-appearance: none;
    appearance: none;
    border: none;
}
.submit{
    height: 30px;
    line-height: 30px;
    margin:10px auto 30px;
    text-align: center;
    width:100%;
}

.submitWrap{
    text-align: center;
}
.submitWrap .submit{
    display:inline;
}
.submitWrap .submit input[type=button], .submit input[type=submit]{
    display: inline-block;
    width: 90px;
    line-height:30px;
    outline: none;
    background: #3879D9;
    color: #fff;
    margin:10px 30px 10px 20px;
    -webkit-appearance: none;
    appearance: none;
    border: none;
}
.rightbox .query .form-validate .noleft{
    float:none;
}
.form-group .paddingleft{
    padding-right:14px;
}

.submitMessage{
    width:30%;
    height:40px;
}
.audent{
    height: 30px;
    line-height: 30px;
    margin:10px auto 30px;
    text-align: center;
    width:100%;
}
.audent input[type=submit], .audent input[type=button], .submitMessage input[type=submit]{
    outline: none;
    background: #3879D9;
    color: #fff;
    width:90px;
    height:30px;
    line-height:30px;
    -webkit-appearance: none;
    appearance: none;
    border: none;
}
.audent input[type=submit], .audent input[type=button]{
    margin:5px 20px;
}
.rightbox .query .form-validate .noleft{
    float:none;
}
.form-group .paddingleft{
    padding-right:14px;
}
.marginBottom{
    margin-bottom:20px;
}
.table-wrap{
    width:80%;
    margin:30px  auto;
    display:none;
}
.table-wrap table{
    width:100%;
}
.table-wrap table tr td{
    border:1px solid #000;
    font-size:14px;
    text-align: center;
}
.table-wrap table tr td:last-child{
    padding:8px 15px;
}
.table-wrap table tr td span{
    border:1px solid #ccc;
    border-radius: 5px;
    padding:6px 12px;
    color:#fff;
    background: #3879D9;
}
.fl{
    float:left;
}
form .form-group .formbox em{
    padding:0 5px;
}
form .form-group .formbox .halfWidth{
    width:46%;
}
.wrap_a{
    overflow: hidden;
}
.paddingInput{
    margin:0 5px;
}
.Leaddown{
    float:left;
    width:20%;
}
.Leaddown .submitStyle{
    text-align: left;
    margin:0 auto 0 0;
}
.ImportMess .submitStyle{
    text-align: left;
    margin:16px auto 40px 190px;
}
.submitTemp{
    text-align: left;
    margin:40px auto 40px 10px
}
.firstSub{
    margin-right:20%;
}
.doneText{
    color:red;
    font-size:14px;
    padding: 50px 0 0 30px;
}
.tableBgColor{
    background: #3879D9;
    color:#fff;
}
form .form-group .formbox .uploadmessText {
    border: 1px solid #999;
    outline: none;
    width: 100%;
    font-size: 14px;
    height: 30px;
    padding: 0 5px;
    cursor: pointer;
}
.uploadmessText{
    position:relative;

}
.uploadmessText .uploadmessTMes{
    position:relative;

}
.uploadmessText .uploadmessFile{
    position:absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.ImportMess .submit button{
    outline: none;
    background: #3879D9;
    color: #fff;
    width:90px;
    height:30px;
    line-height:30px;
    -webkit-appearance: none;
    appearance: none;
    border: none;
}
.rightbox .query .edit-btn{
    width:60px;
    height:26px;
    border-radius:5px;
    background:#0BBF74;
    border:none;
    color:#fff;
}
.rightbox .query .delete-btn{
    width:48px;
    height:26px;
    border-radius:5px;
    background:#d9534f;
    border:none;
    color:#fff;
}
.sendSmsTitle{
    float:left;
    width:53%;
    text-align:left;
    margin: 0 auto 30px;
}
.main .nav_left .nav-two .selectedColor {
    background:#2A915A;
    border-bottom:1px solid;
    border-left:5px solid #AACD06;
}
.main .nav_left .nav-two .selectedColor a{
    color:#fff;
    padding-left:10px;
}