.form-validate .form-groups{
    float: left;
    width:40%;
    height:50px;
}
.form-validate .form-groups .label-control{
    float: left;
    width:36%;
    text-align: right;
    font-weight: normal;
}
.form-validate .form-groups .formbox{
    float: left;
    width:64%;
}
.form-validate .form-groups .formbox input,.formbox select{
    width:100%;
    height:30px;
}
.edit-btn{
    width:60px;
    height:30px;
    background:#0BBF74;
    border:none;
    color:#fff;
}
.query .table{
    width:90%;
    margin-left:5%;
}