*{
    margin:0;
    padding:0;
}
body{
    font-family:"Microsoft YaHei";
    font-size:14px;
    color:#333;
    /*max-width:1420px;
    margin:0 auto;*/
}
a,a:link,a:visited,a:hover,a:active{
    text-decoration:none;
}
i,em{
    font-style:normal;
}
img{
    border:none;
}
li{
    list-style-type:none;
}
div,span,input,select,a,i,h1,h2,h3,h4,h5,h6,ul,li,font{
    font-family:"Microsoft YaHei";
}
input,select,textarea,button{
    outline:none;
    border:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    font-size:16px;
}
.center{
    text-align:center;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.clear{
    clear:both;
}
.white{
    background:#fff;
}
.hide{
    display:none;
}
.view{
    width:100%;
    background:#f2f2f2;
    height:auto;
}
/*------------------------头部---------------------*/
.header{
    width:100%;
}
.top{
    width:95.21%;
    background:#f5f5f5;
    line-height:4.23%;
    padding:0.85% 1.76% 1.55% 3.03%;
    overflow:hidden;
}
.company{
    width:49.13%;
    font-size:20px;
}
.logo{
   margin-bottom:-3px;
}
.company_name{
    color:#0b0b0b;
    font-size:20px;
    font-weight:bold;
}
.user_infor{
    width:50.87%;
    float:right;
    font-size:14px;
    color:#777;
    vertical-align:bottom;
    margin-top:1.1%;
    text-align:right;
}
.user_infor span{
    color:#464646;
}
.user_infor img{
    margin:0 0.92% 0 0.92%;
}
.user_infor .sign_out{
    color:#0bbf74;
}
.user_infor .sign_out .exit{
    margin:0 0.92% -3px 2.39%;
}
.nav_m{
    color:#fff;
    width:100%;
    height: 80px;
    font-size:18px;
    background:#0bbf74;
    position:relative;
    border-bottom:#3eb134 solid 10px;
}
.nav_m:after{
    clear: both;
    content: "";
    display: block;
}
.nav_ml{
    margin-left:1.97%;
}
.nav_m li{
    float:left;
    width:8.8%;
}
.nav_m li a{
    display:block;
    height: 80px;
    line-height:80px;
    color:#fff;
    font-weight:bold;
    text-align:center;
    overflow:hidden;
}
/*.nav_m li a:hover,.nav_m li a:active{
    background-color: #fff;
    border-bottom:#00693e solid 10px;
    color: #00693e;
}*/
.nav_m li a.active{
    background-color: #fff;
    border-bottom:#00693e solid 10px;
    color: #00693e;
    z-index:999;
}
/*------------------------内容部门------------------------*/
/*------------------------左侧导航栏------------------------*/
.content{
    width:100%;
}
.content:after{
    clear: both;
    content: "";
    display: block;
}
.sidebar{
    width:14.79%;
    background:#fff;
    padding:1.41% 0 16% 0;
    position:relative;
}
.fold{
    cursor:pointer;
    position:fixed;
    left:14.79%;
    top:50%;
    width:10px;
    height:100px;
    background:#fff url("../images/fold.png") no-repeat center;
}
.open{
    left:0;
    background-image: url("../images/open.png");
}
.nav_left>li{
    background:#f2fcf8;
}
.nav_left li img{
    margin-bottom:-1.5px;
}
.nav_left>li .nav_one{
    display:block;
    width:100%;
    padding:8.57% 0 8.57% 20.48%;
    color:#444;
    font-size:14px;
}
.nav_left>li a{
    color:#444;
    font-size:14px;
}
.nav_left>li>ul{
    background:#fff;
}
.nav_two{
    padding:9.52% 0;
}
.nav-two{
    padding:9.52% 0;
}
.nav_two li,.nav-two>li{
    background:#fff;
    padding:0 0 0 31.9%;
    margin-top:11.9%;
}
.nav_two li:first-child,.nav-two li:first-child{
    margin-top:0;
}
/*.nav_two li a:hover{
    color:#0bbf74;
    border-bottom:solid 1px #0bbf74;
}*/
.nav_two li a.active{
    color:#0bbf74;
    border-bottom:solid 1px #0bbf74;
}
.arrow_up{
    display:block;
    background:#fff url("../images/arrow_up.png") no-repeat 45% center;
}
.arrow_down{
    display:block;
    background:url("../images/arrow_down.png") no-repeat 45% center;
}
.nav_three{
    padding:13.33% 0 0 0;
}
.nav_three>li{
    font-size:12px;
    padding:0 0 0 10%;
    margin-top:13.33%;
}
/*------------------------右侧内容------------------------*/
.main{
    width:83.8%;
    margin-top:1.41%;
}
.main:after{
    display:block;
    content:"";
    clear:both;
}
.query,.query_result{
    border:#e3e3e3 solid 1px;
    padding:1.97% 0 1.97% 2.11%;
}
.query:after{
    display:block;
    content:"";
    clear:both;
}
.query i{
    color:#999;
}
.query_criteria i{
    font-weight:bold;
    color:#444;
    font-size:18px;
}
.query_criteria span{
    float:right;
}
.query_time {
    width:32.55%;
    margin-top:2.11%;
}
.origanizeName{
    margin-top:5.16%;
}
.insurance_time{
    width:65.13%;
    margin-top:2.11%;
}
.signTimeStart,.signTimeEnd,.insureTimeStart,.insureTimeEnd,.origanize_name,.insure_name,.page{
    width:31.09%;
    padding:5px 0;
    border:#e3e3e3 solid 1px;
    text-align:center;
    color:#999;
    font-size:14px;
    background:url("../images/arrow.png") no-repeat 97% center;
}
.insureTimeStart,.insureTimeEnd{
    width:15.48%;
}
.insure_time{
    margin-left:3.94%;
}
.origanize_name{
    width:51.68%;
    background:none;
}
.insureName{
    margin-top:2.58%;
}
.insure_name{
    width:19.35%;
    background:none;
}
.search{
    margin-left:12.26%;
    background:#da4b45;
    color:#fff;
    padding:5px 3.23%;
}
.export{
    background:#2e9bde;
    color:#fff;
    padding:5px 3.23%;
    margin-left:1.29%;
}
.collect{
    color:#0bbf74;
    border:1px solid #0bbf74;
    padding:5px 3.23%;
    margin-left:1.29%;
}
.query_result{
    margin-top:1.41%;
}
.result_table{
    margin-top: 2.11%;
    text-align:center;
    color:#444;
    width: 93.11%;
    border: 1px solid #dcdcdc;
    border-collapse: separate;
    border-spacing: 0;
    -webkit-border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
}
.result_table th{
    padding:8px 0;
    border-left:1px solid #e3e3e3;
    font-weight:normal;
    background:#a8f0d2;
    text-align:center;
 }
.result_table td{
    padding:8px 0;
    border-top:1px solid #e3e3e3;
    border-left:1px solid #e3e3e3;
}
.result_table td:first-child,.result_table th:first-child{
    border-left:0px solid #e3e3e3;
}
.result_table tr th:first-child{
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
}
.page_infor{
    margin:0 auto;
    color:#444;
    margin:2.58% 0 0 25%;
}
.page_infor i{
    color:#777;
}
.page_infor a{
    color:#444;
}
.page_infor a:hover{
    color:#0bbf74;
    border-bottom:#0bbf74 solid 1px;
}
.select_page{
    margin-left:1.55%;
}
.page{
    background:url("../images/arrow01.png") no-repeat 87% center;
    padding:0 0 0 1%;
    text-align:left;
    color:#999;;
    width:3.66%;
}
/*------------------------底部------------------------*/
.footer{
    margin:0 auto;
    padding:1.55% 0;
    text-align:center;
    font-size: 12px;
    color:#777;
}
.footer i{
    color:#555;
}
.report{
    margin-left:1.27%;
}
.detail_show{
    margin:0 auto;
    margin-top:1.41%;
    width:100%;
    border:none;
    padding:0;
    overflow:hidden;
}
.detail_w{
    border:none;
    padding:0 13.73% 1.97% 10.14%;
}
.detail_tab{
    width:100%;
}
.datail_export{
    padding:5px 2.41%;
}
.print{
    font-size:14px;
    font-weight: normal;
    background:#0bbf74;
    color:#fff;
    padding:5px 2.41%;
}
