<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<header>
    <div class="leftbox sidebar fl" id="sidebar">
        <ul class="nav_left">
            <li th:if="${menus != null}" th:each="menu:${menus}">
                <li th:if="${menu.menuItems != null}" th:each="menuItem:${menu.menuItems}">
                    <a th:href="${menuItem.url}" th:text="${menuItem.name}" class="leftText">
                        <i class="iconfont icon-fanhui-copy-copy"></i>
                    </a>
                </li>
            </li>
        </ul>
    </div>
</header>
</html>